<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Java Date Format Testing</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" th:href="@{/web/css/styles.css}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/52d0a03281.js" crossorigin="anonymous"></script>
    </head>
    <body> 
        <div id="app"> 

            <header>
                <div class="topnav" id="top-nav">
                    <a href="/">Home</a>
                    <a href="about" class="active">About</a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </header>
            <main>
                <div class="page-heading left-diagonal">
                    <h1>Date Format Calculator</h1>
                    <p>Test and validate Java Date Format values for parsing and formatting.</p>

                </div>
                <div class="page-content">
                    <div class="page-content-inner">
                        <h2>About Date Formats</h2>
                        <p>
                            The Java language has built-in tools that allow developers to convert Strings into Dates
                            and vice versa.  Dates are complex data types; they contain a lot of information about
                            the date (day of month?  day of week? day in year?), time (hours, minute, second, millisecond),
                            year (2 or four digits?  era?) timezone, etc. 
                        </p>
                        <p>
                            Each of these components can be represented in numerous ways.  All of these might be equivalent 
                            representations of the same point in time:
                        </p>
                        <ol>
                            <li>Wednesday, May 6, 2020</li>
                            <li>2020-05-06</li>
                            <li>05/06/2020</li>
                        </ol>
                        <p>
                            The first example is pretty easy to read but more difficult to parse in a program.  The second examples
                            are easier to parse (you can split at the '-' or '/') but more ambiguous:  is '05' the month or the day?
                        </p>
                        <p>
                            In reality, manual parsing of a date String is extremely hard to get right. 
                        </p>
                        <hr />
                        <div>
                            <h2>Copyright</h2>
                            <p>
                                This utility is developed by FunctionFocus, LLC.  We don't warrant this as applicable for any specific usage 
                                but hope that you find it useful anyway.  Issues are tracked in GitLab at 
                                <a href="https://gitlab.com/functionfocus/simple-date-format-test">https://gitlab.com/functionfocus/simple-date-format-test</a>. 
                            </p>
                            <p>Portions of this utility (enumerated date formats shown above) are adapted from the Open JDK documentation:
                                <a href="https://cr.openjdk.java.net/~iris/se/11/latestSpec/api/java.base/java/text/SimpleDateFormat.html">https://cr.openjdk.java.net/~iris/se/11/latestSpec/api/java.base/java/text/SimpleDateFormat.html</a>
                            </p>
                        </div>
                    </div>

                </div>
            </main>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("top-nav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </body>
</html>