<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Java Date Format Testing</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" th:href="@{/web/css/styles.css}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/52d0a03281.js" crossorigin="anonymous"></script>

        <script th:src="@{web/scripts/vue.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script th:src="@{web/scripts/index.js}"></script>
    </head>
    <body> 
        <div id="app"> 

            <header>
                <div class="topnav" id="top-nav">
                    <a href="/" class="active">Home</a>
                    <a href="about">About</a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </header>
            <main>
                <div class="page-heading left-diagonal">
                    <h1>Date Format Calculator</h1>
                    <p>Test and validate Java Date Format values for parsing and formatting.</p>

                </div>
                <div class="page-content">
                    <div class="page-content-inner">
                        <h2>Evaluate Date Formats</h2>
                        <div class="inputs">
                            <div class="input-field">
                                <label>
                                    Date Format
                                </label>
                                <div class="input-icon" v-bind:class="{'input-icon-failure': showCompileFailure, 'input-icon-filled':(!formatStringFocus && evaluationData.formatString.length > 0), 'input-icon-focus':formatStringFocus}">
                                    <span v-if="showCompileSuccess"><i class="far fa-thumbs-up"></i></span>
                                    <span v-else-if="showCompileFailure"><i class="fas fa-exclamation-triangle"></i></span>
                                    <span v-else><i class="fas fa-angle-double-right"></i></span>
                                    <input type="text" v-model="evaluationData.formatString" @focus="formatStringFocus = true" @blur="formatStringFocus = false" /><!-- -->
                                </div>

                            </div>
                            <div  class="input-field">
                                <label>
                                    Date String
                                </label>
                                <div class="input-icon" v-bind:class="{'input-icon-failure': showParseFailure, 'input-icon-filled':(!dateStringFocus && evaluationData.dateString.length > 0), 'input-icon-focus':dateStringFocus}">
                                    <span v-if="showParseSuccess"><i class="far fa-thumbs-up" ></i></span>
                                    <span v-else-if="showParseFailure"><i class="fas fa-exclamation-triangle"></i></span>
                                    <!--<span v-else-if="showParsePending"><i class="fas fa-ellipsis-h"></i></span>-->
                                    <span v-else><i class="fas fa-angle-double-right"></i></span>
                                    <input type="text" v-model="evaluationData.dateString" @focus="dateStringFocus = true" @blur="dateStringFocus = false" /><!--   -->
                                </div>
                            </div>
                            <div>
                                <button class="evaluate-button" v-bind:disabled="evaluationData.formatString.length === 0" @click="evaluateDateFormat()">Evaluate</button>
                            </div>
                        </div>
                        <div class="outputs">
                            <div v-if="!evaluationRunning && evaluationRun">

                                <div>
                                    <h2>Results</h2>
                                    <div v-if="evaluationResultData.formatCompileSuccessful && evaluationResultData.dateParseSuccessful">
                                        The date from parsing <code>{{evaluationResultData.inputDateString}}</code>
                                        against the format <code>{{evaluationResultData.inputFormatString}}</code>: is 
                                        <code>{{evaluationResultData.javaDateString}}</code>
                                    </div>
                                    <div v-else-if="evaluationResultData.formatCompileSuccessful">
                                        The format <code>{{evaluationResultData.inputFormatString}}</code> 
                                        compiled successfully<span v-if="evaluationResultData.formatCompileSuccessful && evaluationResultData.formatAndDateStringSpecified">
                                            but <code>{{evaluationResultData.inputDateString}}</code> could not be parsed properly.</span>.
                                    </div>
                                    <div v-else-if="!evaluationResultData.formatCompileSuccessful">
                                        That the format <code>{{evaluationResultData.inputFormatString}}</code> 
                                        could not be compiled<span v-if="evaluationResultData.formatAndDateStringSpecified"> so  
                                            <code>{{evaluationResultData.inputDateString}}</code> could not be parsed</span>.
                                    </div>
                                </div>
                                <div v-if="showCompileFailure || showParseFailure">
                                    Java Stack Trace
                                    <small><pre>{{evaluationResultData.javaStaceTrace}}</pre></small>
                                </div>
                            </div>                            
                        </div>
                         <hr />
                    <div>
                        <h2>Formats</h2>
                        <div v-if="formats && formats.length > 0"  id="card">
                            <table class="formats">
                                <thead>
                                    <tr>
                                        <th>
                                            Format<br />
                                            Character
                                        </th>
                                        <th>
                                            Date/Time<br />
                                            Component
                                        </th>
                                        <th>
                                            Fixed-Date<br />
                                            Examples
                                        </th>
                                        <th>
                                            Current-Date
                                            <br />Examples
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="format in formats">
                                        <td data-label="Format Character">
                                            <ul>
                                                <li v-for="character in format.characters"><code class="pointer" v-bind:title="'Click to add ' + character + ' to the format ' + (evaluationData.formatString.length ===0?'':' (currently ' + evaluationData.formatString + ')')" @click="evaluationData.formatString = evaluationData.formatString + character">{{character}}</code></li>
                                            </ul>
                                            <!--<pre><code>{{format.character}}</code></pre></td>-->
                                        <td data-label="Date/Time Component">{{format.dateTimeComponent}}</td>
                                        <td data-label="Fixed-Date Examples">
                                            <ul>
                                                <li v-for="example in format.fixedExamples">{{example}}</li>
                                            </ul>
                                        </td>

                                        <td data-label="Current-Date Examples">
                                            <ul>
                                                <li v-for="example in format.nowExamples">{{example}}</li>
                                            </ul>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" v-model="enableFormatRefresh" />
                                <span>Enable Auto-Refresh of Date Formats</span>
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <h2>Copyright</h2>
                        <p>
                            This utility is developed by FunctionFocus, LLC.  We don't warrant this as applicable for any specific usage 
                            but hope that you find it useful anyway.  Issues are tracked in GitLab at 
                            <a href="https://gitlab.com/functionfocus/simple-date-format-test">https://gitlab.com/functionfocus/simple-date-format-test</a>. 
                        </p>
                        <p>Portions of this utility (enumerated date formats shown above) are adapted from the Open JDK documentation:
                            <a href="https://cr.openjdk.java.net/~iris/se/11/latestSpec/api/java.base/java/text/SimpleDateFormat.html">https://cr.openjdk.java.net/~iris/se/11/latestSpec/api/java.base/java/text/SimpleDateFormat.html</a>
                        </p>
                    </div>
                    </div>
                   
                </div>
            </main>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("top-nav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </body>
</html>