html, body {
    overflow-x: hidden;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right top, #b0b2b6, #babcc1, #c4c7cc, #ced1d7, #d8dce2);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

code{
    font-family: 'Roboto Mono', monospace;
}
.pointer{
    cursor: pointer;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin: 0 -9600rem;
    padding: .25rem 9600rem;
    color: white;
    font-size: 1.125rem;
    z-index: 0;
}
.bottomnav {
       overflow: hidden;
    background-color: #333;
    position: relative;
    margin: 0 -9600rem;
    padding: .25rem 9600rem;
    color: white;
    font-size: 1.125rem;
    z-index: 0; 
}

header:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 9598.5rem;
    right: 9598.5rem;
}

footer{
    overflow: hidden;
    background-color: #333;
    position: absolute;
    bottom: 0;
    margin: 0 0rem;
    /*padding: .25rem 9600rem;*/
    color: white;
    font-size: 1.125rem;
    z-index: -1;
    width: 100vw;
    text-align: center;
}

footer:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 9598.5rem;
    right: 9598.5rem;
}

.page-footing{
    overflow: hidden;
    background-color: #3c4b5a;
    border-bottom: 3em solid #3c4b5a; 
    position: relative;
    margin: 0 -9600rem;
    padding: .25rem 9600rem;
    color: white;
    z-index: 0;
    padding-bottom: .25em;
}
.page-heading{
    overflow: hidden;
    background-color: #3c4b5a;
    border-bottom: 3em solid #3c4b5a; 
    position: relative;
    margin: 0 -9600rem;
    padding: .25rem 9600rem;
    color: white;
    z-index: 0;
    padding-bottom: .25em;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

header, main{
    width: 960px;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

header:before {
    content: "";
    position: absolute;
    z-index: -1; /* behind parent */
    top: 0;
    bottom: 0;
    /* subtract h2 padding (1.5rem) */
    left: 598.5rem;
    right: 598.5rem;
    background: green;
}



main{
    z-index: 2;
    position: relative;
    padding: 10px;
    /*padding: .25em;*/
}


main .page-heading{
    color: #eee;
    margin-top: -.65em
}


main .page-heading h1{
    font-size: 1.1em;
    margin: .1em 0;
    padding: .25em 0;
}
main .page-heading p{
    font-size: 1em;
    margin: 0;
    padding: 0;
}

main .page-content{
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #E4E8EE;
    min-height: 10em;
    margin-top: -3em;
    margin-bottom: 10em;
    position: absolute;
    z-index: 1;
}

.page-content .page-content-inner{
    padding: 10px;
}

main .formats ul{
    list-style-type: none;
}

main .formats ul li{
    display: inline-block;
}


main .formats ul li:not(:last-of-type)::after{
    content: ", "
}

.formats{
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

.formats thead tr th{
    position: sticky;
    top: 0;
    padding: 2px;
    border-bottom: 2px solid #888;
    text-align: left;
    background-color: #eee;;
}

.formats tbody tr td{
    padding: 2px;
    margin: 0;
    text-align: left;
}

td pre{
    margin: 0;
    padding: 0;
}
.formats tbody tr td ul{
    margin: 0;
    padding: 0;
}

.inputs .input-field{
    margin-bottom: 2em;
    position: relative;
}

.inputs .input-field label{
    display: block;
}

.inputs .input-field input[type=text]{
    display: inline-block;
    width: 85%;
    max-width: 25em;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out;
    font-family: monospace;
}

.inputs .input-field input[type=text]:focus{
    border: 2px solid #094296;  
}

.input-icon{
    color: #ced4da
}

.input-icon-filled{
    color: #495057;
}

.evaluate-button{
    background-color: #495057;
    border: 2px solid #495057;
    display: inline-block;
    border-radius: .2em;
    padding: .5em;
    color: #fff;
}
.evaluate-button:disabled{
    background-color: #999;
    color: #fff;
}

.input-icon-failure{
    color: #c72222;
}

.input-icon-focus{
    color: #094296;
}

.footer-logo{
    text-align: center;
    display: relative;
}
.footer-logo img{
    display: flex;
    display: inline-block;
    max-width: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    /*    main{
            min-width: 580px;
        }*/
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    /*    header, main{
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
        }*/
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media screen and (max-width: 576px) {
    main .page-content{
        width: 500px;
        z-index: 1;
    }
}
@media screen and (max-width: 768px) {
    main .page-content{
        width: 700px;
        z-index: 1;
    }
}
@media screen and (max-width: 992px) {
    header, main{
        width: 94vw;
    }
    .formats{
        border-collapse: collapse;
        /*width: 93vw;*/
        position: relative;
    }
    main .page-content {
        width: calc(100% - 25px);
    }
}
table {
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
    background: #fff;
}
table tr:nth-child(odd) {
    background: #f3f3f3;
}

@media screen and (max-width: 600px) {

    #card table {
        border: 0;
    }

    #card table thead {
        display: none;
    }

    #card table tr {
        margin-bottom: 20px;
        display: block;
        border-bottom: 2px solid #ddd;
        box-shadow: 2px 2px 1px #dadada;

    }

    #card table thead tr th{
        position: relative;
    }

    #card table td {
        display: block;
        text-align: right;
        /*font-size: 13px;*/
    }

    #card table td:last-child {
        border-bottom: 0;
    }

    #card table td::before {
        content: attr(data-label);
        float: left;
        /*        text-transform: uppercase;
                font-weight: bold;*/
    }
    /*    #card	tbody{
            line-height:0!important;
        }*/

}